<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Perfil de Usuario</h2>
                </div>
                <div class="card-body">
                    <p><strong>Nombre:</strong> {{name}}</p>
                    <p><strong>Correo Electrónico:</strong> {{email}}</p>
                    <p><strong>Saldo:</strong> ${{wallet}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
