<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-dark text-white">
                    <h2>Perfil de Usuario</h2>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="https://w7.pngwing.com/pngs/1000/665/png-transparent-computer-icons-profile-s-free-angle-sphere-profile-cliparts-free.png" class="rounded-circle img-fluid" alt="User Avatar" style="max-width: 150px;">
                    </div>
                    <p class="text-center"><strong>Nombre:</strong> {{name}}</p>
                    <p class="text-center"><strong>Correo Electrónico:</strong> {{email}}</p>
                    <p class="text-center"><strong>Wallet:</strong> ${{wallet}}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>